<h1> HEY!</h1>
<!-- <section ng-controller="TruckIndexController as trucks">
<h1> HEY!</h1>
	<div class="card col-md-12 col-xs-12" ng-repeat="truck in trucks.all">
		<img src="{{img_link}}">
		<div class="truck-info">
			<h5 class="truck-name">{{name}}</h5>
			<h5 class="truck-cuisine">{{food_type}}</h5>
			<div class="favorite">
				<a href="#" class="btn favorite-btn">
					<img src="./images/icons/favorite-un.png" alt="favorite-heart">{{favorited}}
				</a>
			</div>
		</div>
		<div class="truck-directions">
			<h6 class="distance">{{distance}}</h6>
			<a href="#">
				<img src="./images/icons/directions.png">
			</a>
		</div>
	</div>
</section> -->