<form ng-controller="TruckNewController" ng-submit="saveTruck()" method="POST" class="new-form">
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" class="form-control" ng-model="newTruck.name" placeholder="Enter name">
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<input type="text" class="form-control" ng-model="newTruck.description" id="description" placeholder="Description">
	</div>
	<div class="form-group">
		<label for="latitude">Image Link</label>
		<input type="text" class="form-control" ng-model="newTruck.img_link" id="img_link" placeholder="Image Link">
	</div>
	<div class="form-group">
		<label for="menu_link">Menu Link</label>
		<input type="text" class="form-control" ng-model="newTruck.menu_link" id="menu_link" placeholder="Menu Link">
	</div>
	<div class="form-group">
		<label for="phone" type="number">Phone Number</label>
		<input type="text" class="form-control" ng-model="newTruck.phone" id="phone" placeholder="Phone Number">
	</div>
	<div class="form-group">
		<label for="exampleSelect1">Food Type</label>
		<select type="text" class="form-control" ng-model="newTruck.food_type" id="food_type">
			<option>Select One</option>
			<option>Italian</option>
			<option>American</option>
			<option>Chinese</option>
			<option>Ice Cream</option>
			<option>Exotic</option>
		</select>
	</div>
	<div class="form-group">
		<label for="location">longitude</label>
		<input type="text" class="form-control" ng-model="newTruck.longitude" id="longitude" placeholder="Location">
	</div>
	<div class="form-group">
		<label for="location">latitude</label>
		<input type="text" class="form-control" ng-model="newTruck.latitude" id="latitude" placeholder="Location">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form> 