// ////////////VARS AND MIXINS///////////////////
// Declaring our main style colors
$primary: #3684A5;
$secondary: #3E98BE;
$borderColor: #CCC;
$fontColor: #c2C2C2;
$locationPin:  #FFE066;
$primaryButton: #F1D35F;

// Main font used in styling
$font: 'Roboto', sans-serif;

// Container/Div Sizing the entire window
$width: 100%;


#displayResults {
	margin: 0 auto;
	width: 20px;
	position: relative;
}

// ////////////END VARS AND MIXINS///////////////
body {
	// margin-top: -20px;
}
// NAV BAR
nav {
	margin-bottom: -10%;
}

.navbar .navbar-default {
	background-color: $primary;
	font-family: $font;
	margin-bottom: -15%;
	z-index: auto;
}

.navbar-header {
	background-color: $primary;
}

.navbar-collapse {
	background-color: $primary;
}

a .navbar-brand .nav-text {
	width: 10px !important;
	padding: 0 !important;
}

.nav-text {
	background-color: $primary;
	color: $fontColor !important;
	font-family: $font;
	text-align: center;
}

.nav-text:hover {
	opacity: .7;
}

.nav .navbar-nav .navbar-left li:hover {
	opacity: .7;
}
// Search Bar
.form {
	margin: 3% 0 3% 25%;
	text-align: right;
	width: 50%;
}

.input-group {
	background-color: $secondary;
	border: 2px solid white;
	border-radius: 20px;
	color: $fontColor !important;
	font-family: $font;
	opacity: .8;
	width: 60%;
}

.fa-search {
	margin:2.5% 25% 0 0;
	opacity: .6;
}
// END NAV BAR //////////////////////

///////////LOGIN PAGE ///////////////
.text-muted {
	margin-left: 5%;
}

.btn-block {
	width: 85%;
}

//////////END LOGIN /////////////////

//////////Main Landing Page///////////
.landing-page {
	background-color: $primary;
	margin-top: -40px;
	min-height: 600px;
}

.landing-page h1 {
	color: white;
	font-family: $font;
	height: auto;
	margin-left: 8%;
	padding: 10%;
	text-align: center;
	width: 80%;
}

.buttons {
	margin-left: 15%;
}

.landing-btn {
	border-radius: 20px;
	margin-top: 5%;
	width: 80%;
}

// MAP
#map {
  height: 550px;
  width: 100%;
}

.map {
	margin-top: -7%;
	// z-index: -1;
}

.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid $borderColor;
    padding-top: 10px;
}
// TRUCK CARD START/////////////////////////////
// truck card overall shape
.card {
	display: inline-block;
	margin-bottom: 2px;
	border: 1px solid #EEECEE;
}
// Truck Picture
.card img {
		float: left;
		margin: 5px;
		width: 25%;
	}

// truck descriptions
.truck-info {
	float: left;
	font-family: $font;
	margin-left: 5px;
	width: 55%;
	.truck-cuisine {
		opacity: .7;
	}
}

// favorite button and people count
.favorite-btn a {
	margin: 40px -5px 0 0;
	width: 75%;
}

.favorite-btn img {
	margin: -5px -15px;
	width: 15%;
}

// truck direction button and distance
.truck-directions {
	float: left;
	margin-top: 7px;
	text-align: center;
	width: 15%;
}

.truck-directions img {
	margin-left: 12px;
	width: 55%;
}
// TRUCK CARD END//////////////////////////////////

// TRUCK INDEX.html STYLING ///////////////////////////
// Description button
.truck-description .btn {
	background-color: $primaryButton;
	border-radius: 20px;
	color: white;
	margin-left: 15%;
}
// Trucks Name
.truck-description h2 {
	margin-bottom: -40px;
}
// Trucks weblink
.truck-description h6 {
	margin: -10px 0 20px 0;
}
// Trucks cuisine and weblink
.truck-description h3, h6 {
	opacity: .6;
}
// Image of the truck
.truck-image {
	font-family: $font;
	height: auto;
	width: $width;
}
// Heart Icon to click
.main-truck-page .favorite-icon {
	float: right;
	margin: 20px;
}
// Phone Number
.contact {
	float: left;
	width: $width;
}
// Phone Icon
.contact img {
	float: left;
	height: 1em;
	margin: 10px 15px 30px 0;
}
// TRUCK INDEX.html END ///////////////////////////////