// MAP
#map {
    height: 500px;
    width: 100%;
}

.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

// truck card
.card {
	display: block;
	margin-bottom: 2px;
	border: 1px solid #EEECEE;
}

.card img {
	float: left;
	margin: 10px 10px 0 0;
	width: 15%;
}

.truck-info {
	float: left;
	width: 55%;
	// border: 1px solid black;
}

.truck-directions {
	border: 1px solid black;
	display: block;
}


