$primary: #3684A5;
$secondary: #3E98BE;
$borderColor: #CCC;
$fontColor: #c2C2C2;
$locationPin:  #FFE066;
$primaryButton: #F1D35F;

// MAP
#map {
    height: 500px;
    width: 100%;
}

.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid $borderColor;
    padding-top: 10px;
}

.heading {
	background-color: $primary;
	height: 100px;
}

.input-group {
	background-color: $secondary;
	border: 2px solid white;
	border-radius: 20px;
	color: $fontColor;
	font-family: 'Roboto', sans-serif;
	height: 36px;
	margin-top: 50px;
	opacity: .8;
	width: 100%;
}

// TRUCK CARD START/////////////////////////////
// truck card overall shaping
.card {
	display: inline-block;
	margin-bottom: 2px;
	border: 1px solid #EEECEE;
}

.card img {
		float: left;
		margin: 5px;
		width: 25%;
	}

// truck descriptions
.truck-info {
	float: left;
	font-family: 'Roboto', sans-serif;
	margin-left: 5px;
	width: 55%;
	.truck-cuisine {
		opacity: .7;
	}
}

// favorite button and people count
.favorite-btn a {
	margin: 40px -5px 0 0;
	width: 75%;
}

.favorite-btn img {
	margin: -5px -15px;
	width: 15%;
}

// truck direction button and distance
.truck-directions {
	float: left;
	margin-top: 7px;
	text-align: center;
	width: 15%;
}

.truck-directions img {
	margin-left: 12px;
	width: 55%;
}
// TRUCK CARD END//////////////////////////////////

// TRUCK INDEX STYLING ///////////////////////////
.main-truck-page {
	// text-align: left;
}

.truck-description .btn {
	background-color: $primaryButton;
	color: white;
	margin-left: 15%;
}

.truck-image {
	font-family: 'Roboto', sans-serif;
	height: auto;
	width: 100%;
}

.main-truck-page .favorite-icon {
	float: right;
	margin: 20px;
}
// TRUCK INDEX END ///////////////////////////////