
.card{display:block;margin-bottom:2px;border:1px solid #eeecee}.card img{float:left;margin:10px 10px 0 0;width:15%}.truck-info{float:left;width:55%}.truck-directions{border:1px solid #000;display:block}

