<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome to FFTT</title>
	<!-- css stylesheets -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
  <!-- jQuery for Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<!-- bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- satellizer -->
  <script src="https://cdn.jsdelivr.net/satellizer/0.14.1/satellizer.min.js"></script>
  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<!-- angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="/bower_components/angular-route/angular-route.min.js"></script>
  <!-- map js file -->
  <script src="/js/map.js"></script>
  <!-- client side js -->
  <script src="/js/client.js"></script> 
  <!-- controllers -->
  <script src="/js/controllers/trucks.js"></script>
  <script src="/js/controllers/users.js"></script>
<!--   <script src="/js/controllers/favorites.js"></script> -->
</head>
<body ng-app="mapsApp">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand nav-text" href="/">Foodie Truck Truck</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a class="nav-text" href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
          <li><a class="nav-text" href="/signup">Sign Up</a></li>
          <li><a class="nav-text" href="/login">Log In</a></li>
          <li><a class="nav-text" href="/logout">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container-fluid heading">
  <input class="input-group" ng-model="searchText" placeholder="Search">
</div>

<div ng-controller="MapsController">

    <div id="map"></div>
  <button class="btn-success" ng-click="showme=true">Show Results</button>
  <button class="btn-danger" ng-click="showme=false" ng-show="showme">Hide Results</button>
	<div class="truckViews animate-show-hide" ng-repeat="marker in markers | filter:searchText" ng-show="showme">
    <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>

  </div>
</div>

</body>
<script>
      function initMap() {
        var uluru = {lat: 39.74, lng: -104.99};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
         infoWindow = new google.maps.InfoWindow;
        // var marker = new google.maps.Marker({
        //   position: uluru,
        //   map: map
        // });

      }
      // var map, infoWindow;
      // function initMap() {
      //   map = new google.maps.Map(document.getElementById('map'), {
      //     center: {lat: -34.397, lng: 150.644},
      //     zoom: 6
      //   });
      //   infoWindow = new google.maps.InfoWindow;

    </script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPqCXeTyW5s4MiWTf6kzwm-r58azGK18Q&callback=initMap">
    </script>
</html>